body{
    font: 16px/16px Arial;
    padding: 10px;
}

h1{
    font: 2em/2em Arial;
}

.center-text{text-align: center;}

.img{
    max-width: 1200px;
    margin: auto;
    white-space: nowrap;
}

.img .cat{
    width: 100%;
    cursor: pointer;
    display: inline;
    white-space: normal;
    vertical-align: top;
}

.result{
    margin: 10px 0;
    border-top: 1px solid #000;
    padding: 10px 0;
}

.list-cats{
    box-sizing: content-box;
    list-style: none;
    display: block;
    margin: 20px 0;
}
.list-cats li{
    box-sizing: content-box;
    display: inline;
    margin: 0;
    border: 1px solid rgba(41, 43, 46, 0.57);
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.list-cats li:hover{
    background-color: rgba(178, 187, 190, 0.44);
}